*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    background-image: url(../images/desktop_letterbox_retina-TAE-Landing-Page_Hero-Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: ;*/
    background-attachment: fixed;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    max-width: 1000px;
    margin: 0  auto;
    background-color: rgba(245, 245, 245, 0.454);
 
}

header img {
    max-width: 200px;
    padding: 1.5em;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
}